label {
  color: #00bef0;
  font-weight: bolder;
}
.btn {
  background-color: transparent;
  border: 2px solid #00bef0;
  color: #00bef0;
  padding: 10px 20px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  border-radius: 25px;
}
.btn:hover {
  background-color: #01a5ce;
  border: 2px solid #01a5ce;
  border-radius: 25px;
}
